<html>
  <head>
    <title>Create Russian Word-Frequency Lists</title>
    <style>
        .progress {
            width: 100%;
            text-align: center;
        }
    </style>
  </head>
  <body>
    <h1>Create Russian Word-Frequency Lists</h1>
    <font size="4">Study vocabulary based on how often it's used, in texts you <i>want</i> to read.
    </font>
    <hr>
    <h2>Upload a .txt file</h2>
     
    <form name="Upload" action="" method=post enctype=multipart/form-data>
      <p><input type=file name=file>
      <input type="submit" value="Upload" onclick="start_long_task()">
    </form>
    <p>Currently, only plain-text (.txt) files are supported.</p>
      <p>
      While the program should be able to create frequency lists for any language where words are separated by spaces (sorry, Chinese!), it can only lemmatize words in Russian thanks to <a href="https://pymorphy2.readthedocs.org/en/latest/">pymorphy2</a>.  </p>
      <p>In non-linguist terms, that means that walk, walks, and walked will be counted as separate words. But хожу, ходит, и ходили will all be counted as ходить.</p> 
      100 pages of text can be processed in roughly 90 seconds.
    <br>
    Hopefully more languages, file formats, and features will come in the future.
    </p>
      Best,<br>
      Isaac
  </body>  
</html>




