<!doctype html>
  <head>
    <title>Create Russian Word-Frequency Lists</title>
    <style>
        .progress {
            width: 100%;
            text-align: center;
        }
    </style>
  </head>
  <body>
    <h1>Create Russian Word-Frequency Lists</h1>
    <font size="4">Study vocabulary based on how often it's used, in texts you <i>want</i> to read.
    </font>
    <hr>
    <a href="{{url_for('about_page')}}"> More Information </a>
    <p></p>

    <form action="demo_form.asp">
      <input type="checkbox" name="Known Words Upload" value="Known Words">Do you have a file
      with the words you already know?

    <p></p>

    </form>
    Upload Text File
    <form name="Upload Text" action="" method=post enctype=multipart/form-data>
      <input type=file name=file>
      <input type="submit" value="Upload" onclick="start_long_task()">
    </form>

  </body>  
</html>




